:root {
  --my-bg-color: #051923;
  --my-title-color: #D3D4D9;/*hsl( 95, 38%, 62%);*/
  --my-text-color: #D3D4D9;/*#A2A79E;*/
  --my-link-color: #EFCB68;/*hsl( 29, 54%, 61%); /*#2EC4B6;*/
  --my-hover-color: /*hsl(355, 65%, 65%);hsl( 5, 48%, 51%);*/#FF3366;
  --my-border-color: #2364AA;
}

/*
 *
 * Used for the heading part of the web page
 *
 */

*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--my-title-color);
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--my-bg-color);
  color: var(--my-text-color);
  border-color: var(--my-border-color);
}

.nav-tabs {
  border-color: var(--my-border-color);
}

.nav-tabs .nav-link.active:hover {
  color: var(--my-link-color);
}

.nav-tabs .nav-link.active {
  background-color: var(--my-bg-color);
  color: var(--my-link-color);
  border-color: var(--my-border-color);
}

.nav-tabs .nav-link.active:hover {
  border-color: var(--my-border-color);
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: var(--my-hover-color);
}

.nav-tabs .nav-item.show .nav-link {
  background-color: var(--my-bg-color);
  color: var(--my-link-color);
  border-color: var(--my-border-color);
}

.dropdown-item {
  border-radius: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.dropdown-item.active:hover {
  color: var(--my-link-color);
}

.dropdown-item.active {
  background-color: var(--my-bg-color);
  color: var(--my-link-color);
  border-color: var(--my-border-color);
}

.dropdown-item:hover {
  background-color: var(--my-bg-color);
  color: var(--my-hover-color);
  border-color: var(--my-border-color);
}

.nav-tabs .dropdown-menu {
  background-color: var(--my-bg-color);
  border-color: var(--my-border-color);
}

.nav-pills .nav-link.active {
  background-color: var(--my-bg-color);
  color: var(--my-link-color);
  border-radius: 0px;
  border-bottom: 1px solid var(--my-border-color);
}

.nav-pills .nav-link.active:hover {
  color: var(--my-link-color);
}

.nav-pills .nav-link:hover {
  color: var(--my-hover-color);
}

.nav-pills .nav-link:focus {
  text-decoration: inherit;
}

a:link {
  color: var(--my-link-color);
}

a:hover {
  color: var(--my-hover-color);
}

a:visited {
  color: var(--my-link-color);
}

a:active {
  color: var(--my-link-color);
}

/*
 *
 * Used in:
 *  compilers.html
 *
 */

.card {
  background-color: var(--my-bg-color);
  border-color: var(--my-border-color);
}

.card-header {
  border-bottom: 1px solid var(--my-border-color);
}

.card-header .btn.btn-link:hover{
  color: var(--my-hover-color);
}

.card-header .btn.btn-link{
  color: var(--my-link-color);
  text-decoration: none;
}
