.wrapped {
  border: 4px outset var(--border-color-up);
  background-color: var(--button-color-up);
  color: black; 
}

.wrapped > h2 {
  text-align: center;
}

.wrapped > p {
  text-align: left;
}

.col, .col-6 {
  margin-left: 3%;
  margin-right: 3%;
}
