:root {
  --desktop-bg-img: url("imgs/background-0014.png");

  --footer-bg-img: url("imgs/binary.gif");
  --footer-font: "Courier New", Courier, monospace;
  --footer-height: 60px; /* should always be in viewport height percent*/

  --header-bg-img: url("imgs/matrix.gif");
  --header-font: "Courier New", Courier, monospace;
  --header-height: 64px; /* can be whatever unit */
  --header-color: red;

  --body-bg-img: url("imgs/space.gif");
  --body-font: "Courier New", Courier, monospace;

  --border-color-up: #DDD;
  --border-color-down: #D0D0D0;
  --button-color-up: #BBB;
  --button-color-down: #B0B0B0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

#desktop {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - var(--footer-height)); 
  margin: 0;
  padding: 2%;
  padding-left: 8%;
  padding-right: 8%;
  background-image: var(--desktop-bg-img);
  background-repeat: repeat;
}

#window {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  border: 4px outset var(--border-color-up); 
}

#footer {
  width: 100%;
  height: var(--footer-height);
  padding: 5px;
  overflow: hidden;
  display: flex;
  /*background-image: var(--footer-bg-img);
  background-repeat: repeat;*/
  background-color: var(--button-color-up);
  border: 4px outset var(--border-color-up);
  font-family: var(--footer-font);
}

#window-header {
  width: 100%;
  height: var(--header-height);
  border: 4px inset var(--border-color-up);
  /*background-image: var(--header-bg-img);
  background-repeat: repeat;*/
  background-color: var(--button-color-up);
  padding-left: 5px;
  text-align: left;
  font-family: var(--header-font);
  color: var(--header-color);
  vertical-align: middle;
}

#window-body {
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: auto; /* only adds scroll bars when necessary */
  background-image: var(--body-bg-img);
  background-repeat: repeat;
  border: 4px inset var(--border-color-up);
  padding: 1%;
  text-align: center;
  font-family: var(--body-font);
  color: black;
}

.my_nav_btn {
  display: flex;
  width: auto;
  border: 4px outset var(--border-color-up);
  text-align: center;
  padding: 5px;
  margin-right: 5px;
  background-color: var(--button-color-up);
  vertical-align: middle;
}

.my_nav_btn > * {
  margin-right: 2px;
  
  /* makes things unselectable so they seem like buttons */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.btn-primary, .btn-primary:focus {
  box-shadow: none;
  border: 4px outset var(--border-color-up);
  border-radius: 0px;
  background-color: var(--button-color-up);
  color: black;
  transition: none; /* get rid of bootstrap's transition */
}

.btn-primary:hover, .btn-primary:active {
  box-shadow: none;
  border-color: var(--border-color-down);
  background-color: var(--button-color-down);
  color: white;
}

.btn-primary:active {
  border-style: inset;
}
