.blog-content {
  margin: auto;
  position: relative;
  min-width: 1000px;
  max-width: 50vw;

  height: 90%;
  min-height: 90%;
}

.post-nav-control-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.post-nav-control {
  width: 15px;
  height: 15px;
  text-align: center;
  color: black;
  text-shadow: none;
  background: white;
  margin-right: 16px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 4px 4px 4px black;
  user-select: none;
  transition: border-radius 100ms ease 0s,
    box-shadow 100ms ease 0s;
}

.post-nav-control[data-turn-off="yes"] {
  cursor: not-allowed;
  pointer-events: none;
  color: gray;
  box-shadow: 1px 1px 2px black;
}

.post-nav-control:link {
  color: black;
}

.post-nav-control:hover {
  color: black;
}

.post-nav-control:focus {
  color: black;
}

.post-nav-control:active {
  border-radius: 16px;
  box-shadow: 1px 1px 2px black;
}

.post-nav-control:visited {
  color: black;
}

.post-list-container {
  position: relative;
  overflow-y: scroll;
}

.post-list-container[data-shown="yes"] {
  display: block;
  height: 85%;
  min-height: 85%;
}

.post-list-container[data-shown="no"] {
  display: none;
  height: 0%;
  min-height: 0%;
}

.post-list-item {
  text-shadow: none;
  display: block;
  background: white;
  color: black;
  margin-bottom: 32px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 8px;
  box-shadow: 4px 4px 4px black;
}

.post-list-item-title {
  font-size: larger;
  font-weight: bolder;
  user-select: none;
}

.post-list-item-author {
  font-style: italic;
  font-size: small;
  margin-right: 16px;
  user-select: none;
}

.post-list-item-date {
  font-style: italic;
  font-size: small;
  user-select: none;
}

.post-content-container {
  position: relative;
  overflow-y: scroll;

  color: black;
  text-shadow: none;
  background: white;
  padding: 16px 32px;
  box-shadow: 4px 4px 4px black;
}

.post-content-container[data-shown="yes"] {
  display: block;
  height: 85%;
  min-height: 85%;
}

.post-content-container[data-shown="no"] {
  display: none;
  height: 0%;
  min-height: 0%;
}

.post-content {
  opacity: 0%;
  transition: opacity 100ms ease 0s;
  display: block;
}

.post-content img {
  display: block;
  margin: auto;
}

.post-content .post-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.post-content .post-author {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.post-content .post-date {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.post-content .post-section-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin: 16px;
}

.post-content p {
  text-indent: 32px;
}

.post-content blockquote {
  background-color: lightgrey;
  padding: 8px;
  font-style: italic;
}