.projects {
    margin: auto;
    position: relative;
    min-width: 1000px;
    max-width: 70vw;
  
    height: 90%;
    min-height: 90%;
}

.projects-tags-list {
    margin-top: 16px;
    margin-bottom: 16px;
}

.projects-tag {
    display: inline-block;
    color: black;
    text-shadow: none;
    background: white;
    font-weight: bold;
    padding: 8px;
    margin: 12px;
    user-select: none;
    box-shadow: 4px 4px 4px black;
    transition: border-radius 300ms ease 0s,
    box-shadow 300ms ease 0s,
    background-color 300ms ease 0s;
    border-radius: 0px;
}

.projects-tag[data-selected="yes"] {
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
}

.projects-list {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
}

.projects-card {
    display: inline-block;
    background-image: url('../assets/space.gif');
    padding: 24px;
    margin: 16px;
    border-radius: 32px;
    box-shadow: 4px 4px 4px black;
}

.projects-card-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.projects-card-tags {
    display: block;
    margin-bottom: 8px;
}

.projects-card-tag {
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-shadow: none;
    border-radius: 16px; 
    user-select: none;
}

.projects-card-desc {
    padding: 8px;
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.projects-card-git-link {
    float: right;
    color: white;
    backdrop-filter: blur(2px);
}

.projects-card-git-icon {
    width: 32px;
    height: 32px;
}